requests==2.21.0
opencv_python==4.1.1.26
QDarkStyle==2.7
torchvision==0.2.2
torch==1.0.1.post2
setuptools==40.8.0
dominate==2.4.0
visdom==0.1.8.8
Pillow==6.2.0
PyQt5==5.13.1
beautifulsoup4==4.8.0
test_model==0.1
